<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
	<parameter name="TestURL" value="https://www.lambdatest.com/selenium-playground/"/>
<test name = "Tests On Chrome">
    <parameter name="Browser" value="Chrome"/>
    <parameter name="Version" value="88.0"/>
    <parameter name="Platform" value="Windows 10"/>
    <classes>
      <class name="SeleniumPlayground.TestsSeleniumPlayground"/>
    </classes>
 </test>
 <test name = "Tests On Edge">
    <parameter name="Browser" value="Edge"/>
    <parameter name="Version" value="87.0"/>
    <parameter name="Platform" value="macOS Sierra"/>
    <classes>
      <class name="SeleniumPlayground.TestsSeleniumPlayground"/>
    </classes>
 </test>	
<test name = "Tests On Firefox">
    <parameter name="Browser" value="Firefox"/>
    <parameter name="Version" value="82.0"/>
    <parameter name="Platform" value="Windows 7"/>
    <classes>
      <class name="SeleniumPlayground.TestsSeleniumPlayground"/>
    </classes>
 </test>	
<test name = "Tests On IE">
    <parameter name="Browser" value="IE"/>
    <parameter name="Version" value="11.0"/>
    <parameter name="Platform" value="Windows 10"/>
    <classes>
      <class name="SeleniumPlayground.TestsSeleniumPlayground"/>
    </classes>
 </test>		
</suite> <!-- Suite -->